@model Company_Project_Expenses_MVC.Models.Expense

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectManager.ProjectManagerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpentAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
